<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <header id="header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    @*<a class="navbar-brand" href="index.html"><img src="~/images/logo.png" alt=""></a>*@
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><h4>NewsPortal.In</h4></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav custom_nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#">Technology</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mobile</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("Index","News")">Android</a></li>
                                <li><a href="#">Samsung</a></li>
                                <li><a href="#">Nokia</a></li>
                                <li><a href="#">Walton Mobile</a></li>
                                <li><a href="#">Sympony</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Tablets</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                        <li><a href="pages/404.html">404 Page</a></li>
                    </ul>
                </div>
                <div class="search">
                    <a class="search_icon" href="#"><i class="fa fa-search"></i></a>
                    <form action="#">
                        <input class="search_bar" type="text" placeholder="Search here">
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
